footer.footerOxxo
    .container
        .row
            .col-12.d-flex.flex-column.align-items-center
                h6  
                    b COME BIEN
                
                h6 Esta promoción es válida para compras de b:oost 470 ml Energy o Zero en tiendas OXXO a Nivel Nacional. 
                    br  
                    | Vigencia del 19 de agosto al 8 de septiembre de 2021.